[submodule "paint-color-mixer"]
	path = paint-color-mixer
	url = https://github.com/ruthviksharma-d/paint-color-mixer.git
[submodule "spotify-clone"]
	path = spotify-clone
	url = https://github.com/ruthviksharma-d/spotify-clone.git
[submodule "attendance-track"]
	path = attendance-track
	url = https://github.com/ruthviksharma-d/attendance-tracker.git
[submodule "flashcards"]
	path = flashcards
	url = https://github.com/ruthviksharma-d/flashcards-maker.git
